<form action="/login" method="POST">
    <input type="text" name="codigo" id="codigo" placeholder="Digita tu código de empleado">
    <input type="text" name="passwd" id="passwd" placeholder="Digita tu contraseña">
    <button type="submit">Ingresar</button>
</form>

